body {
    margin: 0 auto;
    background: none repeat scroll 0% 0% #F2F2F2;
    font-size: 12px;
    font-family: Arial,"宋体",Lucida,Verdana,Helvetica,sans-serif;
    color: #333;
}

body, form {
    margin: 0px;
    padding: 0px;
}

.head {
    padding: 0px;
    width: 990px;
    margin: 0 auto;
    height: 80px;
}

.logo {
    width: 160px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 25px;
    font-family: "黑体";
}

.entry {
    padding: 5px;
    margin: 0px auto 40px;
    position: relative;
    border-radius: 3px;
    background: none repeat scroll 0% 0% #E8E8E8;
    width: 380px;
}

.entry .bgDiv {
    background: none repeat scroll 0% 0% #FFF;
    height: 360px;
    border: 1px solid #E1E1E1;
}

.form {
    height: 260px;
    width: 325px;
    margin: 0 auto;
}

.form .item1, .form .item2, .form .item3 {
    width: 320px;
    height: 64px;
}

.form .item1 span, .form .item3 span {
    color: #999;
    height: 20px;
    line-height: 20px;
    display: block;
    margin-top: 1px;
}

.form .item1 .text, .form .item3 .text {
    float: none;
    width: 282px;
    height: 24px;
    line-height: 24px;
    padding: 4px 20px 4px 3px;
    border: 1px solid #CCC;
    font-size: 14px;
    font-family: arial,"宋体";
}

.form .item1 .text:focus, .form .item3 .text:focus {
    border: 1px solid #7ABD54;
}

.form .item3 .text {
    width: 50px;
}

.form .item3 a:link, .form .item3 a:visited {
    color: #999;
    text-decoration: none;
}

.form .item3 a:hover, .form .item3 a:active {
    color: #F00;
    text-decoration: underline;
}

.form .item2 {
    margin-top: 20px;
}

.form .item2 .login {
    width: 307px;
    height: 34px;
    line-height: 100px;
    text-indent: -9999px;
    background: url('/themes/default/images/login-all-bg.png') no-repeat scroll 0px -61px transparent;
    border: 0 none;
    cursor: pointer;
}

.form .item2 .login:hover {
    background: url('/themes/default/images/login-all-bg.png') no-repeat scroll 0px -95px transparent;
}

.footer {
    width: 990px;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
    text-align: center;
}

.footer .copyright {
    margin-top: 10px;
}

a:link, a:visited {
    color: #333;
    text-decoration: none;
}

a:hover, a:active {
    color: #F00;
    text-decoration: underline;
}

.hidden {
    width: 890px;
    margin: 0 auto;
}

.hidden .bg {
    margin-left: 45px;
    background: url('/themes/default/images/login-all-bg.png') no-repeat scroll 0% 0% transparent;
    height: 59px;
    width: 853px;
}

.register {
    margin-left: 215px;
    margin-top: 5px;
    width: 115px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 3px 3px 3px 3px;
    padding: 0px 5px 5px;
}

.register span {
    text-align: center;
    font-size: 14px;
    background: none repeat scroll 0% 0% #7CBE56;
    width: 115px;
    height: 32px;
    display: block;
    color: #FFF;
    border-radius: 3px 3px 3px 3px;
}

.register a:link, .register a:visited {
    color: #FFF;
    text-decoration: none;
}

.register span:hover {
    background: none repeat scroll 0% 0% #89C964;
}

#error {
    height: 30px;
    width: 260px;
    margin-left: 27px;
    line-height: 30px;
    color: #F00;
}